.boxing{
    background: #E5F2CA;

}

.card-body{
    background: #9DAD8C;
    
}
.ccol{
    margin-left: 0pt;
    margin-right: 0pt;
}
.csup{
    margin-bottom: 15pt;
    margin-left: 0pt;
    margin-right: 0pt;
}