.boxing{
    background: #E5F2CA;
    width: 100%;
    min-height: 670pt;
    padding: 0pt;
    margin: 0pt;
}

.card{
    margin-top: 100pt;
}
.card-img-top{
    height: 250pt;
}
.card-text{
    display: list-item;
    list-style: none;
}
.doctor{
width: 100% !important;
padding-left: 30pt !important;
padding-right: 30pt !important;
}