.boxing{
    background: #E5F2CA;
    width: 100%;
    min-height: 670pt;
    padding: 0pt;
    margin: 0pt;
}
.information{
    margin-left: 20pt;
    padding-top: 100pt;
}
.form-group{
    width: 95%!important;
}
.cbut{
    position: relative;
    bottom: -190pt;
}